@inherits ComponentBase
@inject IJSRuntime JSRuntime;

<div id="@Id" class="ui @(Color ?? Color) @(BottomAlignedLabels ? "bottom aligned" : "") @(Labeled ? "labeled" : "") @(Ticked ? "ticked" : "") range slider"></div>

@code {

    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public double Min { get; set; } = 0;
    [Parameter]
    public double Max { get; set; } = 10;
    [Parameter]
    public double Start { get; set; } = 0;
    [Parameter]
    public double End { get; set; } = 10;
    [Parameter]
    public double Step { get; set; } = 1;
    [Parameter]
    public bool Smooth { get; set; } = true;
    [Parameter]
    public bool Labeled { get; set; } = false;
    [Parameter]
    public bool Ticked { get; set; } = false;
    [Parameter]
    public bool BottomAlignedLabels { get; set; } = false;
    [Parameter]
    public bool ShowThumbTooltip { get; set; } = false;
    [Parameter]
    public string Color { get; set; } = "black";
    [Parameter]
    public int[] RestrictedLabels { get; set; } = new int[0] { };

    [Parameter]
    public double Range { get; set; }
    [Parameter]
    public double FirstValue { get; set; }
    [Parameter]
    public double SecondValue { get; set; }

    [Parameter]
    public EventCallback<double> OnValueChanged { get; set; }
    [Parameter]
    public EventCallback<double> FirstValueChanged { get; set; }
    [Parameter]
    public EventCallback<double> SecondValueChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            Id = Guid.NewGuid().ToString();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>(
                "import", "./Components/FomRangeSlider.razor.js");

            var dotNetReference = DotNetObjectReference.Create(this);

            await JSRuntime.InvokeVoidAsync("fomRangeSlider.init", dotNetReference, Id, Min, Max, Start, End, Step, Smooth, ShowThumbTooltip, Color, RestrictedLabels);
        }
    }

    [JSInvokable("valueChanged")]
    public async void ValueChanged(double range, double firstVal, double secondVal)
    {
        if (FirstValue != firstVal)
        {
            FirstValue = firstVal;
            await FirstValueChanged.InvokeAsync(firstVal);
        }

        if (SecondValue != secondVal)
        {
            SecondValue = SecondValue;
            await SecondValueChanged.InvokeAsync(secondVal);
        }
        //var args = new FomRangeSliderEventArgs { Range = 3, FirstValue = firstVal, SecondValue = secondVal };
        
        await OnValueChanged.InvokeAsync();
    }
}
